passlib
arrow
croniter==0.3.36
pyyaml
docker
docker-compose>=1.29.2 ; sys_platform != 'win32'
tabulate
retrying
humanize
pudb
psycopg2-binary
click
git+https://gitee.com/odoochain/wodoo.git@odoochain#egg=wodoo
