[main]
keyring = False
destructive_warning = False
expand = False
auto_expand = False
generate_aliases = True
wider_completion_menu = True
smart_completion = True
vi = True
table_format = fancy_grid
syntax_style = vim
multi_line = True
multi_line_mode = psql
timing = True
history_file = /tmp/pgcli_history.active
